<!DOCTYPE html>
<html>
<head>
<title>Webpage</title>
<body bgcolor=
 	  
 	  #5CBDFA
 	  #61C4FC
  #66CCFF
><font size= 5 color= "green"><center><h1><a name="HOME PAGE"><a href="farmes.htm" target="_blank"> HOME PAGE</a></a></h1> </center></font>
<br><br><br>
<button onclick="myFunction()">
Red
</button>

<button onclick="youFunction()">
Blue
</button>

<script>
function myFunction() {
    document.body.style.background = "red";
}
</script>
<script>
function youFunction() {
    document.body.style.background="blue";
}
</script>
let's try another thing. I have setted a mark which is our home page (above).
<p>This is my video and audio trick<br><br>1.
<audio controls afterclick="youFunction()">
  <source src="lovedose.ogg" type="audio/ogg">
  <source src="lovedose.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio>
<p>2.<br>
<video width="400" height="300" controls>
  <source src="bang.mp4" type="video/mp4">
  <source src="bang.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>
<p>3.<br>
<video width="800" height="600" controls>
  <source src="manwaa.mp4" type="video/mp4">
  <source src="manwaa.ogg" type="video/ogg">
  
</video><br><br><br>
<hr>
<p><b>Iam testing the mark tag </b>that is why this sentence and the other will be like this with many spaces inbetween. <p> and a <br> few<br>more lines<br> Give me some more songs<p> I will add it to this web site and recreate<br> if you dont want to<br> then its<br> ok<br>
If anyone knows more tags and attributes he/she can please contact me.<p> I am KARTIK RAI<br>  The creator of this page<br><p>If you want to know<br>
how i made this page then also i am free to discuss<br>these lines are getting too long as iam testing my mrk tag.<br> line<br> line<br> and that's it i think<br></p>
<marquee width=50% behavior=alternate direction=right bgcolor=yellow>Now the below link go to top will lead you</marquee><br>
<p>to "home page" above.<br>  
<left>Now the link to<a href="#HOME PAGE" onclick="youFunction()"> go to top</a></left>
<p> &lt; and &gt; and &amp; </p></font>
</body>
</html>
